.button {
    font: inherit;
    border: 0.1px solid #0a8dff;
    background: #0a8dff;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button:hover,
  .button:active {
    background: #0a8dff;
    border-color: #0a8dff;
  }
  
  .button:focus {
    outline: none;
  }